<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Sign Up</title>
</head>
<body>
  <nav>
    <% if(user) { %>
    <a href="/users/<%= user._id %>/restaurants">Your Restaurants</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <% } %>
  </nav>
  <div class="signup-container">
  <h1>Create a new account!</h1>
  <form action="/auth/sign-up" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <label for="confirmPassword">Confirm Password:</label>
    <input 
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      required 
    />
    <button type="submit">Sign up</button>
  </form>
</body>
</html>
