<nav>
    <% if(user) { %>
    <div class="navbar">
      <h1 id="nav-header">White Thai</h1>
      <div class="nav-links">
        <a class="authlink" href="/users/<%=user._id%>/restaurants"
          >Your Restaurants</a
        >
        <a class="authlink" href="/auth/sign-out">Sign Out</a>
      </div>
    </div>
    <% } else { %>
    <div class="navbar">
      <h1 id="nav-header">White Thai</h1>
      <div class="nav-links">
        <a class="authlink" href="/auth/sign-in">Sign In</a>
        <a class="authlink" href="/auth/sign-up">Sign Up</a>
      </div>
    </div>
    <% } %>
  </nav>
  
  <link rel="stylesheet" href="/stylesheets/partials.css" />