<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>White Thai</title>
  </head>
  <body>

    <nav>
      <% if(user) { %>
      <a href="/users/<%= user._id %>/restaurants">Your Restaurants</a>
      <a href="/auth/sign-out">Sign Out</a>
      <% } else { %>
      <a href="/auth/sign-in">Sign In</a>
      <a href="/auth/sign-up">Sign Up</a>
      <% } %>
    </nav>
    <% if (user) { %>
    <h1>Welcome to White Thai!</h1>
    <h4>A blog for people who love Thai food.</h4>

    <% } else { %>
    <h1>Welcome to White Thai!</h1>
    <h4>A blog for people who love Thai food.</h4>
    <% } %>
  </body>
</html>

